SECRET_KEY=change-moi-en-une-longue-chaine-aleatoire
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://votre-domaine.example.com
DATABASE_URL=postgres://user:password@localhost:5432/gestionpharmacie
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
