body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f5f2;
}

.container {
  width: 400px;
  margin: 100px auto;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}

button {
  padding: 10px 20px;

  background: black;

  color: white;

  border: none;

  cursor: pointer;
}

#result {
  margin-top: 20px;

  font-size: 20px;
}
